// variable
$header-h-sp: 60px;

// common
* {
  box-sizing: border-box;
}

html {
  overflow: auto;
  font-size: 62.5%;
}

body {
  overflow: hidden;
  font-family: "EB Garamond", "Yu Mincho", "Hiragino Mincho Pro", "Hiragino Mincho ProN", "MS PMincho", serif;
}

.hide-sp {
  display: none;
}



// ====== header ======
.header-wrap {
  height: 30px;
}

.header-wrap {
  height: $header-h-sp;
  position: relative;
}

.header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  transition: 0.5s;
}

.header-logo:hover {
  opacity: 0.3;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header-left-menu {
  margin-left: 20px;
}

.header-left-menu-icon {
  font-size: 30px;
}

.header-nav-right {
  display: flex;
  justify-content: flex-end;
}

.header-nav-item {
  font-size: 1.4rem;
  position: relative;
}

.header-nav-link {
  display: block;
  height: $header-h-sp;
  line-height: $header-h-sp;
  transition: 0.5s;
}

.header-nav-link:hover:not(.header-active):not(.bg-black) {
  opacity: 0.3;
}

.bg-black {
  position: relative;
  background: #222;
  color: #fff;
  width: 70px;
  text-align: center;
  text-decoration: none;
  transition: .3s;
}

.bg-black:hover {
  color: #fff;
}

.bg-black::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: '';
  opacity: 0.3;
  background: #888;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}

.bg-black:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.contact-sp {
  font-size: 1rem;
  letter-spacing: 0.1rem;
}



// ====== mainvisual ======
.mainvisual-wrap {
  width: 100vw;
  height: 62vw;
  position: relative;
  overflow: hidden;
}

.mainvisual-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130%;
}

.smaller-mv {
  animation: smaller 5000ms linear 0s  normal backwards;
}

@keyframes smaller {
  0% {
    width: 145%;
  }

  100% {
    width: 130%;
  }
}


// ====== message ======
.message-wrap {
  text-align: center;
  margin: 0 50px auto;
  position: relative;
  z-index: 2;
  top: -15px;
  margin-bottom: 50px;
}

.message-head {
  font-size: 3.2rem;
  margin-bottom: 22px;
  letter-spacing: 0.05rem;
}

.message-sub {
  font-size: 1.6rem;
  line-height: 2;
  margin-bottom: 20px;
}

.message-text {
  text-align: left;
  font-size: 1.4rem;
  letter-spacing: 0.15rem;
  line-height: 2.3;
  margin-bottom: 20px;
}

.link-btn-box {
  position: relative;
  cursor: pointer;
  transition: 300ms;
}

.link-btn-white {
  border: 1px solid black;
}

.link-btn-white:hover {
  color: #fff;
}

.link-btn {
  height: 50px;
  display: block;
}

.link-btn-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  line-height: 5rem;
  z-index: 3;
}

.link-btn-box:hover .link-btn-text-white {
  color: #fff;
}

.link-btn-white::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: '';
  background: #000;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 300ms;
}

.link-btn-box:hover .link-btn::before {
  transform-origin: left top;
  transform: scale(1, 1);
}


// ====== contents ======
.contents-link {
  display: block;
  height: 150px;
  position: relative;
  overflow: hidden;
  background: #aaa;
  border-bottom: 1px solid #fff;
  transition: 300ms;
}

.contents-link:hover .contents-img{
  filter: brightness(50%);
  transform: translate(-50%, -50%) scale(1.1, 1.1);
  transform-origin: center;
}

.contents-img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 670px;
  margin: 0 auto;
  filter: brightness(70%);
  transition: 400ms;
}

.contents-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.contents-title {
  font-size: 2.4rem;
  margin-bottom: 14px;
  letter-spacing: 0.2rem;
}

.contents-title-jp {
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
}


// ====== info ======
.info {
  margin: 60px 50px 50px 50px;
}

.info-head {
  font-size: 2.6rem;
  letter-spacing: 0.1rem;
  margin-bottom: 16px;
}

.info-head-jp {
  font-size: 1.2rem;
  margin-bottom: 32px;
}

.info-link {
  display: block;
  border-top: 1px solid #ddd;
  padding: 15px 0;
}

.info-item:last-child {
  border-bottom: 1px solid #ddd;
}

.info-date {
  font-size: 1rem;
  color: #aaa;
  letter-spacing: 0.1rem;
  margin-bottom: 16px;
  margin-left: 2px;
}

.info-title {
  font-family: sans-serif;
  font-size: 1.2rem;
  color: #000;
  transition: 300ms;
}

.info-title:hover {
  opacity: 0.4;
}

.info-more {
  text-align: right;
  width: 100%;
}

.info-more-link {
  display: block;
  font-size: 1.2rem;
  margin-top: 20px;
}


// ====== recruit ======
.recruit {
  background: #eee;
  padding: 30px 50px;
}

.recruit-wrap {
  width: 100%;
}

.recruit-link-btn {
  display: block;
  height: 80px;
  width: 100%;
  border: 0.5px solid #ddd;
}

.recruit-link-btn + .recruit-link-btn {
  margin-top: 20px;
}

.recruit-link {
  display: flex;
  justify-content: space-between;
}

.recruit-link:hover .recruit-img {
  transform: translate(-50%, 0) scale(1.1, 1.1);
  transform-origin: center;
}

.recruit-inner {
  width: 50%;
  overflow: hidden;
  position: relative;
}

.recruit-img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 400ms;
}

.recruit-text-bg {
  background: #fff;
}

.recruit-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
}

.recruit-text-jpn {
  display: block;
  font-size: 0.5rem;
  margin-top: 6px;
}

.infline-link {
  overflow: hidden;
  position: relative;
  background: #999;
}

.infline-link:hover .infline-bg-img {
  transform: translate(-50%, 0) scale(1.1, 1.1);
  transform-origin: center;
}

.infline-bg-img {
  position: relative;
  height: 98%;
  top: 0;
  left: 50%;
  filter: brightness(70%);
  transform: translate(-50%, 0);
  transition: 400ms;
}

.infline-inner {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: #eee;
  font-family: sans-serif;
}

.infline-logo {
  font-size: 30px;
  margin-left: 20px;
  margin-right: 15px;
}

.infline-copy {
  font-size: 1rem;
  margin-bottom: 10px;
}

.infline-name {
  font-size: 1.3rem;
}

.infline-link-icon {
  font-size: 10px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
}


// ====== footer ======
.footer-wrap {
  padding: 40px 50px 30px 50px;
  background: #202020;
  text-align: center;
  color: #eee;
}

.footer-link {
  color: #eee;
}

.footer-adp {
  display: block;
  font-size: 25px;
  margin-bottom: 20px;
}

.footer-info {
  display: block;
  margin-bottom: 20px;
}

.footer-link-map {
  margin-left: 5px;
  text-decoration: underline;
}

.footer-link-map:hover {
  text-decoration: none;
}

.link-btn-black {
  border: 1px solid #fff;
}

.link-btn-box:hover .link-btn-text-black{
  color: #000;
}

.link-btn-black::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: '';
  background: #fff;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 300ms;
}


.footer-privacy-policy {
  display: block;
  text-decoration: underline;
  margin-top: 30px;
  margin-bottom: 40px;
}

.footer-privacy-policy:hover {
  text-decoration: none;
}

.footer-infline-logo {
  display: block;
  font-size: 5rem;
  margin-bottom: 25px;
}

.copyright {
  display: block;
  text-align: center;
  line-height: 45px;
  font-size: 0.1rem;
  font-weight: 100;
  background: #111;
  color: #eee;
  height: 45px;
  margin-bottom: 30px;
}


.caution {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100vw;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 0.5rem;
  font-weight: bold;
  background: #ccc;
  z-index: 10;
}

.caution a {
  text-decoration: underline;
}


// media query
@import "screen736.scss";
@import "screen1024.scss";
